/* start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
/* header */
#header-top{
    display: flex;
    justify-content: space-between;
}


/* debug */
.debug header{
    background-color: blueviolet;
}
.debug #header-top {
    background-color: blue;
}
.debug #header-bottom {
    background-color: blue;
}
/* main */

/* footer */