/* start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
/* general */
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.info-container{
display: flex;
}
.info-container .small-info{
    width: 30%;
}
.info-container .big-info{
    width: 70%;
}
.small-container {
    max-width: 900px;
    margin: 0 auto;
}
.mar-bot-20{
   margin-bottom: 20px; 
}
/* header */
#header-top{
    display: flex;
    justify-content: space-between;
    height: 30px;
}
#header-top ul{
    list-style: none;
}
#header-top ul li{
    display: inline-block;
}
#header-top ul li a{
    display: inline-block;
    padding: 4px 8px;
    text-decoration: none;
}
#header-bottom{
    padding: 50px 0;
}
#header-bottom > div{
    position: relative;
}
#header-bottom .jumbotron{
    position: absolute;
    width: 100%;
}
.tutto-ciò{
    text-align: center;
    margin-top: 20px;
}
/* main */
main{
    padding-top: 100px;
}
main h2{
    margin-bottom: 40px;
}


/* debug */
.debug header{
    background-color: blueviolet;
}
.debug #header-top {
    background-color: blue;
}
.debug #header-top > * {
    background-color: red;
}
.debug #header-bottom {
    background-color: yellow;
    height: 300px;
}
.debug #header-bottom .jumbotron{
    background-color: pink;
    min-height: 300px;
}
.debug .info-container{
    background-color: green; 
    min-height: 200px;
}
.debug .small-info{
    background-color: rgb(70, 0, 128); 
   
}
.debug .big-info{
    background-color: grey; 
}



/* main */

/* footer */